.service-icon {
    width: 50px;
    height: 50px;
  }
  .rounded-5 {
      border-radius: 20px;
  }
  .comma {
    margin-top: -43px;
  }
  .love-icon {
    width: 100px;
    height: 400px;
  }
  